@import 'common';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Convergence', sans-serif;
  font-size: 1.2rem;
  height: 100vh;
  width: 100vw;
  background: $clr-bg;
  color: white;
}
/* input 기본 스타일 초기화 */

*:focus {
  outline: 0;
}
#__next {
  height: 100%;
  width: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
