@import 'common';

.form {
  position: relative;
  display: flex;
  justify-content: center;

  .form__input {
    width: 100%;
    border: 2px solid $clr-gray300;
    border-radius: $radius;
    font-family: inherit;
    font-size: $font-primary;
    color: white;
    outline: none;
    padding: 0.4rem;
    background: none;
    position: relative;

    &:hover {
      border-color: $clr-primary-light;
      cursor: text;
    }
    &:focus {
      border-color: $clr-primary;
    }
  }
  .form__label {
    position: absolute;
    left: 1rem;
    top: 0.325em;
    cursor: text;
    color: white;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: $clr-bg;
  }
}

// input창이 focus된 상태이거나,
// input창의 placeholder가 아무런 값이 없을때,
.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
  left: 1.2rem;
  top: -0.5rem;
  font-size: 0.9rem;
}
